@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Spartan:wght@700&display=swap");

:root {
  --primaryColor-1: #a7d251;
  --primaryColor-2: #fba642;
  --primaryColor-3: #30526a;
  --secondaryColor-1: #4895bb;
  --secondaryColor-2: #ede3c9;
  --secondaryColor-3: #8f472c;
  --DarkGrey: #b5b4b2;
  --white: #fff;
  --darkBlack: #333;
  --spacing: 1.5;
  --mainTransition: all 0.3s linear;
  --ff-primary: "Roboto", sans-serif;
  --ff-title: "Spartan", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  color: var(--darkBlack);
  background: var(--primaryColor-2);
}
